rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null && (resource.data.privacy == 'public' ||
                                              request.auth.token['roomId'] == roomId)
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid != null && request.auth.uid == userId;
    }
  }
}